header {
    height: 700px;
    background-image: url("../images/download.\ 2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

nav.header-nav {
    height: 50px;
}

.nav-item > a{
    text-decoration: none;
}