body, header.container-fluid{
  margin: 0;
  padding: 0;
}

div {
  background-image: url('../images/download. 2.jpg');
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

@media screen and (min-width: 1028px) {
  
}