body, header.container-fluid{
  margin: 0;
  padding: 0;
}

div {
  background-image: url('../images/download. 2.jpg');
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

button.btn-success:hover {
  outline: none;
  border: 3px solid rgb(19, 60, 19);
}

@media screen and (min-width: 1028px) {
  
}